@{
    ViewData["Title"] = "Delete Crash Record";
}

@model Crash

<div class="text-center">
    @*<h6 class="display-4">Are you sure you want to delete the appointment for @Model.GroupName?</h6>*@
    <h6 class="display-4">Are you sure you want to delete the record for ?</h6>
</div>
<br />


<div class="row">

    <div class="col col-4"></div>

    @*Cancel Button*@
    <div class="col col-2">
        @*<a asp-controller="Home" asp-action="Crashes" class="btn btn-primary p-1" style="width:100%;">Cancel</a>*@
    </div>


    @*Delete Button*@
    <div class="col col-2">
        <form method="post" asp-controller="Home" asp-action="Delete">
            <button type="submit" class="btn btn-dark p-1" style="width:100%;">Delete</button>
            <input type="hidden" asp-for="CrashID" />
        </form>
    </div>

    <div class="col col-4"></div>

</div>