@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our DOT Solutions</h1>

    <h4>
        Utah has seen a rise in motor vehicle accidents over the past few years. These are related to a number of reasons, such as
        distracted and drunk driving. We created these solutions for our local govenement officials to better understand the challenges
        associated with the increasing number of road accidents to create effective laws to make a change.
    </h4>
    <br />

    <h4>
        We looked at data that was taken in 2016, 2017, and 2019.
    </h4>
    <br />

    <h4>
        Our objective was to store this data in a searchable database for our users. These users consists of administration personnel that are able to
        add, edit, and delete records, as well as anyone who can solely view the information and our predictions. We created a model that predicts crash
        severity that is based on a number of features. Users can input certain features that will give them an estimate of the crash severity. The severity
        is split into five categories: 1 – No Injury, 2 – Possible Injury, 3 – Suspected Minor Injury, 1 – Suspected Serious Injury, and 5 – Fatal.
    </h4>
</div>
          