@{
Layout = "_Layout";
ViewData["Title"] = "TCP – The Crash Patrol";
ViewData["TEST"] = "Login";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    @*<title>TCP – The Crash Patrol</title>*@

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>

    @*heading!!!*@
    <div style="padding-left:15px; padding-right:15px;">
    <div class="mb-1"></div>
    <div class="divider mb-1"></div>
    <span class="text-uppercase text-sm letter-spacing ">Your Trusted Resource For Utah Car Crash Data</span>
    <h1 class="mb-3 mt-3">Welcome to TCP – The Crash Patrol</h1>

    <p class="mb-4 pr-5">
        Utah has seen a rise in motor vehicle accidents over the past few years. These accidents impact our family and friends and have taken far too many lives.
        These accidents are related to a number of things, such as
        distractions and drunk driving. We want to raise awareness about the increasing number of road accidents to hopefully reverse the curve and make a change.
        <br />

    </p>
    </div>
    <br />

    <div style="text-align:center;">
        <img style="height:350px;" src="~/images/CrashPatrol.png" alt="CrashPatrolLogo">
    </div>
    <br />

    <p>
        Records in this site use data taken from 2016, 2017, and 2019.
        <br /><br />
        Users may search through motor vehicle accident records in our searchable database and take a quick survey to see what kind of crash could be caused from their driving habits.
        Our model predicts crash severity based on a number of common features.
        Administration personnel may add, edit, and delete records.
    </p>

    <br /><br />

    <section class="cta-section ">
        <div class="container">
            <div class="cta position-relative">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-doctor"></i>
                            <span class="h3">320</span>
                            <p>Fatal Crashes in 2021</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-flag"></i>
                            <span class="h3">14,852</span>+
                            <p>Crashes in 2022 so far</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-badge"></i>
                            <span class="h3">74</span>+
                            <p>Fatal Crashes Since January</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-globe"></i>
                            <span class="h3">0</span>
                            <p>Our Goal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section service gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center">
                    <div class="section-title">
                        <h2>Protect Your Loved Ones</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>Join us in raising awareness and making a difference on Utah roads. Be the Change.</p>
                    </div>
                </div>
            </div>
            </div>
    </section>


    <br /><br /><br />

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <div class="logo mb-4">
                            @*<img src="images/logo.png" alt="" class="img-fluid">*@
                        </div>
                        <ul class="list-inline footer-socials mt-4">
                            <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Support</h4>
                        <div class="divider mb-4"></div>

                        <ul class="list-unstyled footer-menu lh-35">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                            @*<li><a href="#">Company Support </a></li>
                                <li><a href="#">FAQuestions</a></li>
                                <li><a href="#">Company Licence</a></li>*@
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-contact mb-5 mb-lg-0">
                        <h4 class="text-capitalize mb-3">Get in Touch</h4>
                        <div class="divider mb-4"></div>

                        <div class="footer-contact-block mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-email mr-3"></i>
                                <span class="h6 mb-0">Support Available for 24/7</span>
                            </div>
                            <h6 class="mt-2 mr-3"><a href="tel:+23-345-67890">support@TheCrashPatrol.com</a></h6>
                        </div>

                        <div class="footer-contact-block">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-support mr-3"></i>
                                <span class="h6 mb-0">Mon to Fri : 08:30 - 5:30</span>
                            </div>
                            <h6 class="mt-2"><a href="tel:801-867-5309">801-867-5309</a></h6>
                        </div>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>