@{
}

<h1>These habits put you at risk for a level @ViewBag.PredictedResults car crash! </h1>
<h6>Learn more about the 5 levels below</h6>
<br /><br />

<h3>Level 1: No Injury</h3>
<p>No apparent injury is a situation where there is no reason to believe that the person received any bodily harm from the motor vehicle crash. There is no physical evidence of injury and the person does not report any change in normal function.</p>
<p>Your current habits likely will not lead to an injury, but it is always a good idea to reflect on what you're doing well and what could be improved. Don't let your good habits decrease! The state of Utah apprreciates your efforts in keeping the roads safe!</p>
<br />

<h3>Level 2: Possible Injury</h3>
<p>A possible injury is any injury reported or claimed which is not fatal, suspected serious, or suspected minor injury. Examples include momentary loss of consciousness, claim of injury, limping, or complaint of pain or nausea. Possible injuries are those that are reported by the person or are indicated by his/her behavior, but no wounds or injuries are readily evident.</p>
<p>Your driving habits could lead to a possible injury in someone else on the road. These injuries complicate their lives as well as your own. What can you do to mitigate your risk in causing a level 2 car crash?</p>
<br />

<h3>Level 3: Suspected Minor Injury</h3>
<p>A minor injury is any injury that is evident at the scene of the crash, other than fatal or serious injuries. Examples include lump on the head, abrasions, bruises, or minor lacerations (cuts on the skin surface with minimal bleeding and no exposure of deeper tissue/muscle).</p>
<p>What can you do to prevent any injury or crashes? Your habits will unlikely cause a death, but there are always more we can be doing to be better. Try driving without looking at your phone! The smallest changes can have the largest impact on your driving.</p>
<br />

<h3>Level 4: Suspected Serious Injury</h3>
<p>A suspected serious injury is any injury other than fatal which results in one or more of the following: 
    <ul>Severe laceration resulting in exposure of underlying tissues/muscle/organs or resulting in significant loss of blood</ul>
    <ul>Broken or distorted extremity (arm or leg)</ul>
    <ul>Crush injuries</ul>
    <ul>Suspected skull, chest, or abdominal injury other than bruises or minor lacerations</ul>
    <ul>Unconsciousness when taken from the crash scene</ul>
    <ul>Paralysis</ul>
</p>
<p>Although this is not the highest level of injury, level 4 crashes are serious. What driving habits do you need to change? See some of the ideas listed under a Level 5 crash. In the meantime, think about what goals you can set to help you personally.</p>
<br />

<h3>Level 5: Fatal</h3>
<p>A fatal injury is any injury that results in death within 30 days after the motor vehicle crash in which the injury occurred. If the person did not die at the scene but died within 30 days of the motor vehicle crash in which the injury occurred, the injury classification should be changed from the attribute previously assigned to the attribute "Fatal Injury".</p>
<p>No one deserves to lose their life, especially in a car crash caused by someone else. Please take some time to consider the following tips in helping you improve your current driving habits:
    <ul>Be more cautious and aware of your people and drivers in your surroundings</ul> 
    <ul>Don't read texts - it's not worth possible taking someone's life</ul>
    <ul>Reduce your speed. Your destination will come soon enough</ul>
    <ul>If you're too tired or have been drinking, don't drive! Call a family member or friend to come pick you up</ul>
    Take some more time to consider what other things you can do to keep Utah's roads a safe place.
</p>
<br />
