@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h3>Am I at risk of a fatal car crash?</h3>

<form method="post">
    <div class="form-group">
        <label for="=">City</label>
        <input type="text" class="form-control" id="">
        <br />
        <label for="">County</label>
        <input type="text" class="form-control" id="">
        <br />

        <label for="formControlRange">I'm usually tired when I drive</label>
        <input type="range" class="form-control-range" id="formControlRange">
        <br />

        <label for="formControlRange">I actively notice bike riders while I drive</label>
        <input type="range" class="form-control-range" id="formControlRange">
        <br />

        <label for="formControlRange">I actively notice pedestrians while I drive</label>
        <input type="range" class="form-control-range" id="formControlRange" value="30">
        <br />

        <label for="formControlRange">I actively notice motorcycle drivers while I drive</label>
        <input type="range" class="form-control-range" id="formControlRange">
        <br />

    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>