@*Confirmation Page*@

@{
    ViewData["Title"] = "Accident Submitted";
    ViewData["TEST"] = "Logout";
}


@model Intex2.Models.Crash

<br />
<h3>Accident #@Model.CRASH_ID has been saved</h3>

<br />
<a class="btn btn-primary" asp-controller="Admin" asp-action="AdminHome">Return Home</a>
