@*Confirmation Page*@

@{
    ViewData["Title"] = "Accident Submitted";
    ViewData["TEST"] = "Logout";
}


@model Intex2.Models.Crash

<br />
<h3>@Model.ROUTE has been added</h3>

<a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Return Home</a>
