@{
    ViewData["Title"] = "Delete Crash Record";
    ViewData["TEST"] = "Logout";
}

@model Crash

<div class="text-center">
    <h4 class="display-5">Are you sure you want to delete the record @Model.CRASH_ID?</h4>
</div>
<br />


<div class="row">

    <div class="col col-4"></div>

    @*Cancel Button*@
    <div class="col col-2">
        <a asp-controller="Admin" asp-action="AdminLookup" class="btn btn-primary p-1" style="width:100%;">Cancel</a>
    </div>


    @*Delete Button*@
    <div class="col col-2">
        <form method="post" asp-controller="Admin" asp-action="Delete">
            <button type="submit" class="btn btn-danger p-1" style="width:100%;">Delete</button>
            <input type="hidden" asp-for="CRASH_ID" />
        </form>
    </div>

    <div class="col col-4"></div>

</div>