@{
    Layout = null;
    ViewData["Title"] = "Login";
}

@model LoginModel

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    <title>UDOT Login</title>

     @*Favicon*@ 
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

     @*bootstrap.min css*@ 
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
     @*Icon Font Css*@ 
    <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
     @*Slick Slider  CSS*@ 
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">


    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@*<body style="background: #000;">*@
<body>

    <div style="background-color: #233a66" class="text-white p-2">
        <span class="navbar-brand m-l-2">Administrator Login</span>
    </div>

    <br /><br /><br />

    <form method="post" asp-controller="Admin" asp-action="Login">
        <div class="container mt-7">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card px-5 py-12" id="form1">
                        <div class="form-data" v-if="!submitted">
                            <br />
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <div class="forms-inputs mb-4">
                                <label asp-for="Username">User Name:</label>
                                <input asp-for="Username" class="form-control" />
                            </div>

                            <div class="forms-inputs mb-4">
                                <label asp-for="Password">Password:</label>
                                <input asp-for="Password" class="form-control" type="password" />
                            </div>

                            <div class="mb-3"> <button class="btn w-100 btn-login" type="submit" style="background-color: #233a66; color: white; text-align:center;">Login</button> </div>
                            <br />

                            <input type="hidden" asp-for="ReturnUrl" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div style="text-align:center;">
        <a type="submit" asp-controller="Admin" asp-action="Register">Create an Account?</a>
    </div>
    

</body>

</html>
