@*HOME PAGE FOR ADMIN SECTION*@

@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<!DOCTYPE html>

<html>

<head>
    <title>Admin – Home</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*if we don't enter anything else in then go here:*@

    <base href="/" />

</head>

<body>

    <component type="typeof(Routed)" render-mode="Server" />
    @*<component type="typeof(Intex2.Pages.Admin.Routed)" render-mode="Server" />*@
    @*if it isn't recognizing "Routed" then do Bookstore.Pages.Admin.Routed*@

    @*this is part of the blazor setup*@
    <script src="/_framework/blazor.server.js"></script>

    @*OLD TITLE*@
    @*<h4 style="padding-left: 30px; padding-top: 13px; color: #48484a;" class="display-4 lh-1 mb-1">Admin</h4>*@

    <div class="bg-secondary text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <span class="navbar-brand m-lg-2 display-4 lh-1 mb-1" style="color: white;">DOT Solutions Administration</span>
                </div>
                <div class="col-3 text-right">
                    <a class="nav-link" style="color:white;" href="/admin/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div>

    <br />


    <div class="row">
        <div class="col col-4"></div>
        <div class="col col-2">
            <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AdminLookup">Update Accident</a>
        </div>
        <div class="col col-2">
            <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AddCrash">Add Accident</a>
        </div>
        <div class="col col-4"></div>
    </div>

</body>

</html>

