<Router AppAssembly="typeof(Startup).Assembly">

    @*If found then do this*@
    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(AdminLayout)"></RouteView>
    </Found>


    @*If not found then do this*@
    <NotFound>
        <h4 class="bg-danger text-white text-center p-2">No Matching Route Found</h4>
    </NotFound>

</Router>